.main {
  position: relative;
  background-color: rgb(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.game {
  top: 0;
  left: 0;
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
}

.gameImg {
  object-fit: cover;
  height: 90%;
  margin: auto;
  cursor: url("/src/assets/icons/square-cursor.png") 32 32, pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solutions {
  display: flex;
  gap: 15px;
}

.thumbnailPicker {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  gap: 15px;
}
