.body {
  position: relative;
  background-color: rgb(0, 0, 0, 0.2);
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.game {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
}

.gameImg {
  object-fit: cover;
  height: 90%;
  margin: auto;
  cursor: url("/src/assets/icons/square-cursor.png") 32 32, pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.solutions {
  display: flex;
  gap: 15px;
}

.thumbnailPicker {
  position: absolute;
  transform: translate(-50%, -100%);
  background-color: rgb(0, 0, 0, 0.5);
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  gap: 15px;
}

.subMenu {
  height: 50%;
  width: 50%;
  background-color: rgb(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.subMenu .solutions {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
}

.subMenu .thumbImg {
  width: auto;
  height: 100%;
  border-radius: 5px;
}

.thumbImg {
  border: 3px dashed transparent;
}

.thumbImg:hover {
  border: 3px dashed black;
}
