.body {
  box-sizing: border-box;
  position: relative;
  background-color: rgb(0, 0, 0, 0.2);
  height: 100vh;
  color: rgb(0, 0, 0, 0.9);
  display: flex;
  justify-items: center;
  width: 100vw;
}

.main {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: minmax(10px, auto) min-content;
  grid-template-columns: 95vw;
  gap: 20px;
  margin: auto;
}

.game {
  grid-row: 2/3;
  position: relative;
  height: 80vh;
  max-width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  place-self: center;
}

.imgWrapper {
  height: 100%;
  max-width: inherit;
}

.gameImg {
  width: auto;
  max-width: inherit;
  height: 100%;
  cursor:
    /*url("/src/assets/icons/square-cursor.png") 32 32,*/
    crosshair;
}

.header {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20, 0.3);
  width: fit-content;
  place-self: center;
  padding: 5px 50px;
  color: rgb(230, 220, 220, 0.9);
}

.solutions {
  display: flex;
  gap: 15px;
  padding: 12px;
}

.thumbnailPicker {
  position: absolute;
  transform: translate(-50%, -120%);
}

.thumbnailPicker .solutions {
  border-radius: 5px;
  background-color: rgb(180, 180, 180, 0.2);
  backdrop-filter: blur(1px);
}

.thumbnailPicker .thumbImg {
  width: 110px;
  transition: transform ease-out 0.2s;
}

.thumbnailPicker .thumbImg:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.preGameMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
  padding: 15px 20px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  color: rgb(215, 210, 210, 0.8);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.preGameHeader {
  font-size: 16px;
}

.preGameMenu .solutions {
  background-color: transparent;
  box-shadow: none;
  backdrop-filter: none;
  width: 100%;
  justify-content: space-around;
  gap: 15px;
}

.preGameMenu .thumbImg {
  background-color: rgb(140, 140, 140, 0.1);
  padding: 10px;
  width: auto;
  height: 130px;
  max-height: 100%;
  border-radius: 5px;
}

.startBtn {
  font-size: 26px;
  padding: 2px 35px;
  border-radius: inherit;
  margin: auto;
  transition: color ease-out 0.1s, background-color ease-out 0.1s, box-shadow ease-out 0.1s;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.startBtn:hover {
  color: rgb(220, 220, 220, 0.9);
  background-color: rgb(0, 0, 0, 0.15);
}

.thumbImg {
  width: 80px;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: inherit;
}

.solved {
  filter: blur(1px);
  opacity: 0.5;
  pointer-events: none;
}

.sideSolutionsContainer {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.sideSolutionsContainer .solutions {
  width: fit-content;
  background-color: rgb(50, 50, 50, 0.4);
  padding: 10px 15px;
  border-radius: 5px;
  opacity: 0.4;
  transform: scale(0.4);
  transition: opacity ease-in-out 0.2s, transform ease-in-out 0.5s;
}

.sideSolutionsContainer .thumbImg {
  max-height: 100px;
  width: auto;
}

.sideSolutionsContainer .solutions:hover {
  opacity: 1;
  transform: scale(0.8) translateY(-30%);
}

.savingMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
  padding: 30px;
  padding-top: 20px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  color: rgb(225, 220, 220, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.savingMenu .timeDescription {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.savingMenu .timeDescription>* {
  font-size: 16px;
}

.savingMenu form {
  background-color: rgb(0, 0, 0, 0.1);
  width: 100%;
  margin: auto;
  font-size: 16px;
}



.postGameMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -48%);
  max-height: 80vh;
  min-width: 500px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  padding-top: 20px;
  text-align: center;
  background-color: transparent;
  color: rgb(225, 220, 220, 1);
}

.postGameMenu .btnContainer {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.retryBtn,
.nextBtn {
  padding: 5px 30px;
  opacity: 0.9;
  transition: color ease-out 0.1s, background-color ease-out 0.1s, box-shadow ease-out 0.1s;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.retryBtn:hover,
.nextBtn:hover {
  color: rgb(255, 250, 250, 1);
  background-color: rgb(0, 0, 0, 0.6);
}
